<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MyApp.Year" value="2011"/>
    <add key="MyApp.Name" value="TestName"/>
    <add key="MyApp.Value" value="Hello"/>
    <add key="MyApp.Boolean.True" value="true"/>
    <add key="MyApp.Boolean.False" value="fAlse"/>
    <add key="MyApp.Boolean.Yes" value="yEs"/>
    <add key="MyApp.Boolean.No" value="No"/>
    
    <add key="MyApp.Double" value="176.23"/>
    <add key="MyApp.Decimal" value="132476.4523"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
