<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Acropolis.SolutionFolder" value="d:\git\Ajeva\ajeva" />
    <add key="Acropolis.MongoDb.ConnectionString" value="mongodb://dmitry-pc:27018" />
    <add key="Acropolis.DocumentServer.MongoDb.ConnectionString" value="mongodb://dmitry-pc:27019" />
	<add key="Acropolis.CacheServer" value="dmitry-pc" />
  </appSettings>
</configuration>